/cmake-build-debug/
.DS_Store
.idea/
example/wordcount/mr_wc
test/.DS_Store
test/grpc/.DS_Store
!/test/grpc/helloworld
/test/grpc/helloworld/cmake
/test/grpc/helloworld/cmake_externalproject
/test/grpc/helloworld/cocoapods